
@model HelpDesk.ViewModel.MenusViewModel

<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">

    <div class="logo">
        <a href="/index.html" class="simple-text logo-normal">
            <img src="/assets/img/logo.png" alt="" style="height: auto; max-width: 100%; display: inline-block;">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            @if (Model.TotalMenus.Count > 0)
            {

                var levelOne = Model.TotalMenus.Where(u => !u.ParentID.HasValue).OrderBy(u => u.MenuOrder).ToList();
                foreach (var item in levelOne)
                {
                    var levelTwo = Model.TotalMenus.Where(c => c.ParentID == item.Id).ToList();
                    <li class="nav-item @(item.MenuOrder==1?"active":"") @(levelTwo.Count>0?"sidedropdown":"")">
                        @if (levelTwo.Count > 0 || (string.IsNullOrEmpty(item.MenuControllerName)) || string.IsNullOrEmpty(item.MenuActionName))
                        {
                            <a class="nav-link feat-btn" href="javascript:;">
                                <i class="material-icons">@item.Icon</i>
                                <p class="d-flex justify-content-between align-items-center">@item.MenuName <span class="fas fa-caret-right first"></span></p>
                            </a>

                            var secondLevel = Model.TotalMenus.Where(u => u.ParentID==item.Id).GroupBy(u => u.ParentID).ToDictionary(g => g.Key, g => g.ToList());
                            @if (secondLevel.Count > 0)
                            {
                                int i = 0;
                                @foreach (var submenu in secondLevel)
                                {
                                    <ul class="feat-show" id="navbar-@submenu.Key" style="list-style-type: none; padding-left: 20px; padding-top: 10px;">
                                        @for (int m = 0; m < submenu.Value.Count; m += 6)
                                        {

                                            i++;
                                            if (i > 1)
                                            {
                                                <hr style="width: 90%; height: 0.1px; background-color: #000; font-weight: 300;">

                                            }
                                            <div class="row">
                                                <div class="content">
                                                    @if (submenu.Value.ElementAtOrDefault(m) != null)
                                                    {
                                                        <li class="nav-item ">
                                                            <a class="nav-link" asp-controller="@submenu.Value[m].MenuControllerName" asp-action="@submenu.Value[m].MenuActionName">
                                                                <i class="material-icons">@submenu.Value[m].Icon</i>
                                                                <p>@submenu.Value[m].MenuName</p>
                                                            </a>
                                                        </li>
                                                    }
                                                    @if (submenu.Value.ElementAtOrDefault(m + 1) != null)
                                                    {
                                                        <li class="nav-item ">
                                                            <a class="nav-link" asp-controller="@submenu.Value[m+1].MenuControllerName" asp-action="@submenu.Value[m+1].MenuActionName">
                                                                <i class="material-icons">@submenu.Value[m + 1].Icon</i>
                                                                <p>@submenu.Value[m + 1].MenuName</p>
                                                            </a>
                                                        </li>
                                                    }
                                                    @if (submenu.Value.ElementAtOrDefault(m + 2) != null)
                                                    {
                                                        <li class="nav-item ">
                                                            <a class="nav-link" asp-controller="@submenu.Value[m+2].MenuControllerName" asp-action="@submenu.Value[m+2].MenuActionName">
                                                                <i class="material-icons">@submenu.Value[m + 2].Icon</i>
                                                                <p>@submenu.Value[m + 2].MenuName</p>
                                                            </a>
                                                        </li>
                                                    }

                                                </div>
                                                @if (submenu.Value.ElementAtOrDefault(m + 3) != null)
                                                {
                                                    <div class="content">

                                                        <li class="nav-item ">
                                                            <a class="nav-link" asp-controller="@submenu.Value[m+3].MenuControllerName" asp-action="@submenu.Value[m+3].MenuActionName">
                                                                <i class="material-icons">@submenu.Value[m + 3].Icon</i>
                                                                <p>@submenu.Value[m + 3].MenuName</p>
                                                            </a>
                                                        </li>
                                                        @if (submenu.Value.ElementAtOrDefault(m + 4) != null)
                                                        {
                                                            <li class="nav-item ">
                                                                <a class="nav-link" asp-controller="@submenu.Value[m+4].MenuControllerName" asp-action="@submenu.Value[m+4].MenuActionName">
                                                                    <i class="material-icons">@submenu.Value[m + 4].Icon</i>
                                                                    <p>@submenu.Value[m + 4].MenuName</p>
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (submenu.Value.ElementAtOrDefault(m + 5) != null)
                                                        {
                                                            <li class="nav-item ">
                                                                <a class="nav-link" asp-controller="@submenu.Value[m+5].MenuControllerName" asp-action="@submenu.Value[m+5].MenuActionName">
                                                                    <i class="material-icons">@submenu.Value[m + 5].Icon</i>
                                                                    <p>@submenu.Value[m + 5].MenuName</p>
                                                                </a>
                                                            </li>
                                                        }






                                                    </div>

                                                }
                                            </div>
                                        }

                                    </ul>


                                }
                            }








                        }
                        else
                        {
                            <a class="nav-link" asp-controller="@item.MenuControllerName" asp-action="@item.MenuActionName">
                                <i class="material-icons">@item.Icon</i>
                                <p>@item.MenuName</p>
                            </a>
                        }


                    </li>
                }



            }
        </ul>
    </div>
</div>


